<div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center z-1">

  <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm z-1">
    <app-graphic-primera-caja></app-graphic-primera-caja>
  </div>
  <div class="col-xl-3 col-md-6 col-12 order-xl-1 order-md-2 order-1 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm z-1">
    <app-graphic-segunda-caja></app-graphic-segunda-caja>
  </div>
  <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <app-graphic-tercera-caja></app-graphic-tercera-caja>
  </div>

</div>
