
<!--<div class="row justify-content-center align-items-center mt-4 mb-3 px-3">-->

<!--  <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-primary">Primera caja</div>-->
<!--  <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-success">Segunda caja</div>-->
<!--  <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-warning">Tercera caja</div>-->
<!--  <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded-3 py-3 px-4 bg-danger">Cuarta caja</div>-->

<!--</div>-->

<div class="stats-container mt-4 mb-3 px-3">

  <div class="shadow-sm rounded-3 py-3 px-4 bg-info d-flex flex-nowrap align-items-center justify-content-around">
    <div class="text-white">
      <i class="bi bi-bar-chart-fill display-4"></i>
    </div>
    <div class="text-white text-center">
      <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
        <span class="h4">46.43%</span>
        <span class="h6 fw-normal mb-0 text-uppercase">growth rate</span>
      </p>
    </div>
  </div>

  <div class="shadow-sm rounded-3 py-3 px-4 bg-success d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
    <div class="text-white">
      <i class="bi bi-file-arrow-up display-4"></i>
    </div>
    <div class="text-white text-center">
      <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
        <span class="h4">4,054,876</span>
        <span class="h6 fw-normal mb-0 text-uppercase">pageviews</span>
      </p>
    </div>
  </div>

  <div class="shadow-sm rounded-3 py-3 px-4 bg-warning d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
    <div class="text-white">
      <i class="bi bi-arrow-up-right display-4"></i>
    </div>
    <div class="text-white text-center">
      <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
        <span class="h4">46.41%</span>
        <span class="h6 fw-normal mb-0 text-uppercase">bounce rate</span>
      </p>
    </div>
  </div>

  <div class="shadow-sm rounded-3 py-3 px-4 bg-danger d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
    <div class="text-white">
      <i class="bi bi-people-fill display-4"></i>
    </div>
    <div class="text-white text-center">
      <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
        <span class="h3">914,001</span>
        <span class="h6 fw-normal mb-0 text-uppercase">visits</span>
      </p>
    </div>
  </div>

</div>
