<div class="settings-container position-fixed slide-right-to-left shadow-sm border-end border-light-subtle">

  <div class="overflow-y-auto w-100 h-100 py-3">
    <p>settings works!</p>

    <button type="button" class="btn boton1">Primer elemento</button>
    <button type="button" class="btn boton2">Segundo elemento</button>
    <button type="button" class="btn boton3">
      <span>Tercer elemento</span>
      <i class="bi bi-house"></i>
    </button>
    <button type="button" class="btn boton4">Cuarto elemento</button>
    <button type="button" class="btn boton5">Quinto elemento</button>
    <button type="button" class="btn boton6">Sexto elemento</button>


    <div class="grid-container mt-4 mb-3">
      <div class="bg-dark">
        <p class="text-white">Texto de la izquierda</p>
      </div>
      <div class="bg-primary">
        <p class="text-white">Texto de la derecha</p>
      </div>
    </div>

    <div class="mt-4 mb-3 row">
      <div class="bg-secondary col-xl-3 col-md-5 col-12 d-md-block d-none">
        <p class="text-white">Texto de la izquierda</p>
      </div>
      <div class="bg-dark col-xl-3 col-md-5 col-12">
        <p class="text-white">Texto de la derecha</p>
      </div>
    </div>


  </div>

</div>
