<div class="padre slide-down position-fixed bg-white shadow">
  <div class="logos d-flex justify-content-end align-items-center py-1"  (click)="irAlPerfil()">
    <p class="mb-0 me-2">Profile</p>
    <i class="bi bi-person-fill"></i>
  </div>
    <div class="logos d-flex justify-content-end align-items-center py-1">
      <p class="mb-0 me-2">My Balance</p>
      <i class="bi bi-wallet-fill"></i>
    </div>
    <div class="logos d-flex justify-content-end align-items-center py-1" (click)="irAlInbox()">
      <p class="mb-0 me-2">Inbox</p>
      <i class="bi bi-envelope-fill"></i>
    </div>
    <div class="logos d-flex justify-content-end align-items-center border-bottom py-1">
      <p class="mb-0 me-2">Settings</p>
      <i class="bi bi-gear-fill"></i>
    </div>
    <div class="logos d-flex justify-content-end align-items-center border-bottom py-3">
      <p class="mb-0 me-2">Available</p>
      <i class="verde bi bi-check-lg"></i>
    </div>
    <div class="logos d-flex justify-content-end align-items-center py-3" (click)="irAlLogout()">
      <p class="mb-0 me-2">Logout</p>
      <i class="bi bi-power-fill"></i>
    </div>
</div>