<div class="slide-down position-absolute notification-container bg-white shadow rounded-3">

  <div class="d-flex flex-row flex-nowrap align-items-center justify-content-between px-3 pt-3 pb-2 border border-top-0 border-end-0 border-start-0 mb-2">
    <p class="mb-0 text-danger">Borrar</p>
    <p class="mb-0 h6 fw-bolder">Notificaciones</p>
  </div>

  <!-- Contenedor de los mensajes -->
  <div class="message-container">

    <div class="item-message m-auto position-relative">
      <p class="m-0 text-muted position-absolute date-item">14:00pm</p>
      <div class="content-item">
        <h2 class="h6 mb-1 text-end">Nueva subscripción creada</h2>
        <p class="mb-0 text-muted small text-end">{{ "Nueva subscripción creada"|truncateText }}</p>
      </div>
      <div class="icon-item d-flex align-items-center justify-content-center">
        <i class="bi bi-flag-fill text-white"></i>
      </div>
    </div>

  </div>
  <div class="pb-2 border-top mt-3 pt-1">
    <p class="mb-0 text-center text-muted small">Leer todos</p>
  </div>

</div>
