.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

.price {
  font-weight: bold;
  color: rgb(43, 212, 241);
}

.title {
    font-size: 1.2em;
    color: rgb(5, 26, 26);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, color 0.3s ease;
}

.title:hover {
    color: #ff4081;
    transform: scale(1.1);
}

a.btn.btn-primary {
    background-color: #de283b;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

a.btn.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
