<header class="bg-primary row position-sticky top-0 z-3 py-2">
  <div class="col-6 text-center">
    <a class="text-decoration-none d-block" rel="noopener" href="">
      <img style="max-width: 115px" src="/logo.svg" alt="logo">
    </a>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-center">
    <nav class="d-flex flex-row flex-nowrap align-items-center">
      <a class="text-white text-decoration-none py-2 px-4" rel="noopener" href="">Inicio</a>
      <a class="text-white text-decoration-none py-2 px-4" rel="noopener" href="">Tienda</a>
      <a routerLink="/carrito" class="text-white text-decoration-none py-2 px-4" rel="noopener" href=""><i class="bi bi-cart"></i></a>
      <button type="button" class="btn-login" (click)="irAlLogin()">
        <i class="bi bi-person"></i> Iniciar sesión
      </button>
      <button type="button" class="btn-register" (click)="irAlRegistro()">
        <i class="bi bi-pencil"></i> Registrarse
      </button>
    </nav>
  </div>
  <div class="d-none">
    <button type="button"><i class="bi bi-list"></i></button>
  </div>
</header>